.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef3ff;
}

.login-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
}

.login-card p {
  color: gray;
  font-size: 14px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.login-card input,
.login-card select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  padding: 10px;
  background: #6c6cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.demo-text {
  margin-top: 15px;
  font-size: 12px;
}